@font-face{
    font-family: 'Playfair';
    src: url(../../fonts/Playfairdisplayregular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Lavanderia';
    src: url(../../fonts/Lavanderia-Delicate.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Lato';
    src: url(../../fonts/latothin.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Lato';
    src: url(../../fonts/latolight.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Lato';
    src: url(../../fonts/latoregular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Lato';
    src: url(../../fonts/latomedium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Lato';
    src: url(../../fonts/latosemibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Lato';
    src: url(../../fonts/latobold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Lato';
    src: url(../../fonts/latoblack.ttf);
    font-weight: 800;
    font-style: normal;
}